body{
    background-color: #767676;
}
.avatar{
    height: 40px;
    width: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: blueviolet;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    justify-content: s;
}
.card-name{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-title {
    color: hsl(0, 99%, 56%);
    font-family:'Times New Roman', Times, serif;
    font-size: 27px;
}
.card-text{
    font-size: 15px;
}
.container .row{
    padding-top: 40px;
}
.container h1{
    padding-top: 25px;
    font-size: 60px;
    color: #f94141;
}

